{% extends 'base/base.html' %}
{% load staticfiles %}
{% block content %}
<div class="row">
    <div class="col s12">
        <div class="card-panel">
            <h4 class="title text-capitalize">Nuevo Periodo</h4>
            <div class="row">
                <form class="col s12" id="formValidate" role="form"
                    method="POST" name="formulario">
                    {% csrf_token %}
                    
                    <!-- {{ crono.as_p }} -->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">business</i>
                            <select name="expediente" id="periodo">
                                {% for x,y in form.fields.expediente.choices %}
                                <option value="{{ x }}">{{ y }}</option>
                                {% endfor %}
                            </select>
                            <label for="periodo">Expediente</label>

                        </div>
                    </div>
                    <div class="row">
                        <div class="valign-wrapper col s6">
                            <i class="material-icons prefix">account_circle</i>
                            <input name="estatus" type="checkbox"
                                aria-required="true" id="estatus" />
                            <label for="estatus">Cumplido</label>
                        </div>
                        <div class="input-field col s6">
                            <i class="material-icons prefix">power_input</i>
                            <input id="dias" name="periodo" type="date" requerid aria-required="true">
                            <label for="periodo" class="active">Periodo:</label>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">folder</i>
                            <input type="number" name="dias">
                            <label for="expediente">cantidad de Dias</label>
                        </div>
                        
                    </div>
                    
                    <br>
                    <div class="row">
                        <button class="btn waves-effect waves-light
                            right" type="submit" name="action"
                            onclick="click()">Guardar
                            <i class="material-icons right">send</i>
                        </button>
                        <a href="/trabaexpe/admin/" class="btn waves-effect
                            waves-light right">Volver</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
var today = new Date();
    var dd = 1;
    var mm = 1; //January is 0!
    var yyyy = today.getFullYear();
    if(dd<10){
        dd='0'+dd
    } 
    if(mm<10){
        mm='0'+mm
    } 

    today = yyyy+'-'+mm+'-'+dd;
    document.getElementById("dias").setAttribute("max", today);
</script>
{% endblock %}