{% extends '../../base/base.html' %}
{% load static %}
{% block content %}

    <div id="flight-card" class="card">
        <div class="card-header accent-2" style="    background-color: #0d4978 !important;">
          <div class="card-title">
            
            <div class="col s2 m2 l2 center-align">
                <h4 class="flight-card-title">Cronologico N° {{crono.cod_crono}}</h4>
                <i class="material-icons" style="color: white;">all_inclusive</i>
            </div>
          </div>
        </div>
        <div class="white-text">
          <div class="card-content" style="    background: #ffffffe6">
            <div class="row">
              <div class="col s4 m4 l4 center-align center-align ">
                <div class="flight-state">
                  <h5 class="margin" style="color: #0d4978;">Expediente</h5>
                  <h6 style="color: #0d4978;">{{ crono.expediente }}</h6>
                </div>
              </div>
              <div class="col s4 m4 l4 center-align center-align flight-state-two">
                <div class="flight-state">
                  <h5 class="margin" style="color: #0d4978;">Fecha desde:</h5>
                  <h6 style="color: #0d4978;">{{ crono.fech_des }}</h6>
                </div>
              </div>
              <div class="col s4 m4 l4 center-align center-align flight-state-two">
                    <div class="flight-state">
                        <h5 class="margin" style="color: #0d4978;">Fecha hasta:</h5>
                        <h6 style="color: #0d4978;">{{ crono.fech_has }}</h6>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col s12 m6 l6 center-align center-align ">
                    <div class="flight-state">
                    <h5 class="margin" style="color: #0d4978;">Cargo anterior</h5>
                    <h6 style="color: #0d4978;">{{ crono.carg_ante }}</h6>
                    </div>
                </div>
                <div class="col s12 m6 l6 center-align center-align flight-state-two">
                    <div class="flight-state">
                    <h5 class="margin" style="color: #0d4978;">Institucion</h5>
                    <h6 style="color: #0d4978;">{{ crono.institucion }}</h6>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <a href="/constancias/listcrono/" class="btn waves-effect
                    waves-light right">Volver</a>
            </div>
          </div>
        </div>
      </div>
{% endblock %}