{% extends '../base/base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'lib/data-table-deparweb/css/dataTables.bootstrap4.min.css' %}">

<link rel="stylesheet" href="{% static 'lib/data-table-deparweb/css/bootstrap.css' %}">
{% block content %}

<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container">
        <div class="section">
            <div>
                <h1 class="title text-capitalize">Listado de director</h1>
                <div class="row">
                    <div class="col s12 m8 l12">
                        <table id="example" class="table">
                            <thead style="background-color: #0d4978;
                            color: antiquewhite;">
                            <tr>
								<th>N°</th>
								<th>Cedula</th>
								<th>Nombre</th>
								<th>Apellido</th>
								<th>Cargo</th>
								<th>opciones</th>
                            </tr>
                            </thead>
                            <tbody>
							{% for dato in director %}
                                <tr>
									<td>{{dato.id}}</td>
									<td>{{dato.cedu_direc}}</td>
									<td>{{dato.nomb_direc}}</td>
									<td>{{dato.apel_direc}}</td>
									<td>{{dato.carg_direc}}</td>
									<td>
                                        {% if user.is_archivista %}
										<a href="{% url 'Trabaexpe:editar' pk=dato.id %}" class="btn waves-effect waves-light btnApp--margin" ><i class="material-icons">create</i></a>
                                        {% else %}
                                        {% endif %}
										<a href="{% url 'Trabaexpe:verDirect' pk=dato.id %}" class="btn waves-effect btnEyes--Red"><i class="material-icons">remove_red_eye</i></a>
									</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

  <hr>

</div> <!-- /container -->
<script src="{% static 'lib/data-table-deparweb/js/jquery-3.3.1.js' %}"></script>
<script src="{% static 'lib/data-table-deparweb/js/jquery.dataTables.min.js' %}"></script>

{% endblock content %}
