{% extends '../../base/base.html' %}

{% block content %}

{% if validlink %}

<h1>Nueva Contraseña</h1>
<form action="" method="post">
    {% csrf_token %}

    {{ form.new_password1.errors }}
    <label for="id_new_password1">Nueva Contraseña:</label>
    {{ form.new_password1 }}

    {{ form.new_password2.errors }}
    <label for="id_new_password2">Confirme Contraseña:</label>{{ form.new_password2 }}
    <input type="submit" value="cambiar mi Contraseña" />
</form>
{% else %}
<h1> ENLANCE INVALIDO: ESTE ENLANCE YA HA SIDO UTILIZADO</h1>
{% endif %}

{% endblock %}