{% extends '../../base/base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'lib/data-table-deparweb/css/dataTables.bootstrap4.min.css' %}">

<link rel="stylesheet" href="{% static 'lib/data-table-deparweb/css/bootstrap.css' %}">
{% block content %}

<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container">
        <div class="section">
            <div>
                <h1 class="title text-capitalize">Listado de Trabajador</h1>
                <div class="row">
                        {% if not user.is_trabajador %}
                        <a class="btn waves-effect right" href="{% url 'reportes:trabajadores'%}">Imprimir</a>
                        {% endif %}
                    <div class="col s12 m8 l12">
                        <table id="example" class="table">
                            <thead style="background-color: #0d4978;
                            color: antiquewhite;">
                            <tr>
                                <th>Cedula</th>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Numero de ric</th>
								<th>Codigo de rac</th>
                                <th>opciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for perso in worker %}
                                <tr>
                                <td>{{ perso.cedu_trab }}</td>
                                <td>{{ perso.nomb_trab }}</td>
                                <td>{{ perso.ape_trab }}</td>
								<td>{{ perso.num_ric }}</td>
								<td>{{ perso.cod_rac }}</td>
                                <td>
                                    {% if user.is_archivista %}
                                    <a href="#" class="btn waves-effect waves-light btnApp--margin" ><i class="material-icons">create</i></a>
                                    {% else %}
                                    {% endif %}
                                    
                                    <a href="{% url 'Trabaexpe:verWorker' pk=perso.id %}" class="btn waves-effect btnEyes--Red"><i class="material-icons">remove_red_eye</i></a>
                                </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

  <hr>

</div> <!-- /container -->
<script src="{% static 'lib/data-table-deparweb/js/jquery-3.3.1.js' %}"></script>
<script src="{% static 'lib/data-table-deparweb/js/jquery.dataTables.min.js' %}"></script>

{% endblock content %}